.feedback {
    border: 1px solid #F137A6;
    margin: 24px;
    text-align: center;
    background: #A4DADA;
}
.title {
    color: #F137A6;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.message {
    color: #F137A6;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
    cursor: pointer;
}

.button:hover,
.button:focus {
    box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6 !important;
    color: #F137A6 !important;
}

.list {
    display: inline-block;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.item {
    letter-spacing: 2px;
    font-weight: bold;
    color: #F137A6;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
}